---
layout: home
title: Sean Kross
jumbo_title: Postcards
jumbo_subtitle: A Blog by Sean Kross
---

<div id="wrap">
	
	{% include jumbotron.html %}

	<div class="container">
		<ul class="list-unstyled" class="center">
			{% for post in site.posts %}
				<li class="hidden-xs"><h4><a href="{{ post.url }}">{{ post.title }}</a>	
					<span class="hidden-xs" style="width: 9em; float: right; ">{{ post.date | date: "%B %-d, %Y" }}</span></h2></li>
				<li class="visible-xs text-center"><h4><a href="{{ post.url }}">{{ post.title }}</a></h4></li>
			{% endfor %}
		</ul>
	</div>

</div>