
<div id="footer">
  <div class="navbar-collapse">
    <div class="container">
      	<ul style="margin-bottom: 0px" class="navbar-text list-unstyled list-inline visible-xs">
  		    <li><a href="#about">About</a></li>
          <li><a href="https://twitter.com/seankross"><img src="img/Twitter_logo_blue.png" height=20></a></li>
          <li><a href="https://github.com/seankross"><img src="img/GitHub-Mark-64px.png" height=25></a></li>
  	  	</ul>
        <ul style="margin-bottom: 0px" class="navbar-text list-unstyled list-inline hidden-xs">
          <li><a href="#about">About</a></li>
        </ul>
  		  <ul style="margin-bottom: 0px" class="navbar-text list-unstyled list-inline navbar-right hidden-xs">
  		    <li><a href="https://twitter.com/seankross"><img src="img/Twitter_logo_blue.png" height=20></a></li>
  		    <li><a href="https://github.com/seankross"><img src="img/GitHub-Mark-64px.png" height=25></a></li>
  		  </ul>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ page.base_url }}dist/js/bootstrap.js"></script>

<!-- Analytics ================================================== -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47412721-1', 'seankross.com');
  ga('send', 'pageview');

</script>