<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body class="bs-docs-home">
    <a class="sr-only" href="#content">Skip to main content</a>

    <div id="wrap">

      {% include jumbotron.html %}

      <div class="container readable-text hidden-xs">
            <!-- Page content of course! -->
            {{ content }}
      </div>
      <div class="container readable-small visible-xs">
            <!-- Page content of course! -->
            {{ content }}
      </div>

    </div>

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
